img{
  width: 100%;
  height: auto;
}

.paragraph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px 0 30px;
}

p {
  padding: 3% 0 3% 0;
}

.mobile{
  display: none;
}

@media (max-width: 800px) {
  .mobile{
    display: contents;
  }

  .desktop{
    display: none;
  }
}